# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
helloworld
/ch01/04-animated-gifs/lissajours/lissajours
/ch01/04-animated-gifs/lissajours/out.gif
/ch01/04-animated-gifs/exercise_1_5/exercise_1_5
/ch01/04-animated-gifs/exercise_1_5/out.gif
/ch01/04-animated-gifs/exercise_1_6/exercise_1_6
/ch01/04-animated-gifs/exercise_1_6/out.gif
